.cart-page{

    margin-top:110px;
    margin-bottom:50px;

}

.cart-title{

    font-weight:700 !important;
    margin-bottom:35px !important;

}

.empty-cart{

    margin-top:150px;
    text-align:center;

}