.stats-card{

border-radius:22px !important;

text-align:center;

padding:12px;

transition:.35s;

cursor:pointer;

box-shadow:0 10px 30px rgba(0,0,0,.06)!important;

}

.stats-card:hover{

transform:translateY(-8px);

}

.stats-icon{

width:72px;

height:72px;

margin:auto;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:34px;

}